/* ========================= */
/* CARDS DE INFORMAÇÃO */
/* ========================= */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:25px;
}

.info-card{
    background:#121212;
    border-radius:20px;
    padding:18px;
    border:1px solid rgba(255,255,255,.05);
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.info-card h3{
    color:#9db8ff;
    font-size:.85rem;
    margin-bottom:8px;
}

.info-card span{
    font-size:1.8rem;
    font-weight:700;
}