
/* ========================= */
/* GRÁFICOS */
/* ========================= */

.grid-graficos{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:18px;
}

.grid-graficos .grafico:nth-child(1),
.grid-graficos .grafico:nth-child(2) {
    grid-column: span 1;
}

.grid-graficos .grafico:nth-child(3),
.grid-graficos .grafico:nth-child(4),
.grid-graficos .grafico:nth-child(5) {
    grid-column: span 1;
}

.grafico{
    background:#111;
    border-radius:20px;
    padding:18px;
    border:1px solid rgba(255,255,255,.05);
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.grafico.grande{
    min-height:300px;
}

.grafico:not(.grande){
    min-height:220px;
}

canvas{
    width:100% !important;
    height:100% !important;
    max-height:260px !important;
    display:block;
}