/* ========================= */
/* SIDEBAR */
/* ========================= */

.sidebar{
    width:180px;
    background:linear-gradient(
        180deg,
        #0a2a66,
        #081d47
    );
    padding:25px 18px;
    border-right:1px solid rgba(255,255,255,.08);
}

.sidebar h2{
    color:#fff;
    font-size:1.3rem;
    margin-bottom:40px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.sidebar p{
    color:#d7e6ff;
    text-decoration:none;
    padding:12px;
    border-radius:12px;
    transition:.3s;
}

.sidebar p:hover{
    background:rgba(255,255,255,.08);
    transform:translateX(4px);
}
